{% extends "base/base.html" %}
{% block page_content %}
<div class="container mt-4">
    <h3>Subir Evidencia de Recogido - Compra {{ compra.id }}</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="evidencia_recoge">Seleccionar Archivo:</label>
            <input type="file" name="evidencia_recoge" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Subir</button>
        <a href="{% url 'cxp:compras_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
