{% extends 'base/base.html' %}

{% block page_content %}

   <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-danger">Eliminar Unidad de medida</h6>
        </div>
        <div class="card-body">
            <p>¿Estás seguro de que deseas eliminar a "{{ obj.descripcion }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a href="{% url 'inv:unidad_list' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock page_content %}
{% block js_page %}
{% endblock js_page %}


