{% extends 'base/base.html' %}

{% block page_content %}
<div class="card shadow mb-4">
  <div class="card-header">
    <h4>Seleccionar Período de Nómina</h4>
  </div>
  <div class="card-body">
    <form method="post" action="{% url 'nom:calcular_nomina' %}">
      {% csrf_token %}
      <div class="form-group col-md-8">
        {{ form.periodo.label_tag }}
        {{ form.periodo }}
        {% if form.periodo.errors %}
            <div class="text-danger">{{ form.periodo.errors }}</div>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary">Seleccionar</button>
    </form>
  </div>
</div>
{% endblock %}

{% block js_page %}
<!-- Agrega esto al final del body si usas select2 -->
<script>
  $(document).ready(function() {
    $('.select2').select2({
      width: 'style',
      placeholder: "--- Seleccione un Período de Nómina ---",
      allowClear: true
    });
  });
</script>
{% endblock js_page %}
