{% extends 'base/base.html' %}

{% block page_content %}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Lista de movimientos</h6>
        <a href="{% url 'adm:registrocuenta_new' %}" class="btn btn-primary">Nuevo Movimiento</a>
        
    </div>
    <div class="card-body">
        {% if not registros %}  <!-- Asegúrate de que este nombre coincida con el contexto -->
            <div class="alert alert-info">No hay movimientos registrados.</div>
        {% else %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Concepto</th>
                        <th>Cantidad</th>
                        <th>Folio Documento</th>
                        <th>Cuenta</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rc in registros %}  <!-- Asegúrate de que este nombre coincida con el contexto -->
                        <tr>
                            <td>{{ rc.id }}</td>
                            <td>{{ rc.fecha_movimiento }}</td>
                            <td>{{ rc.concepto }}</td>
                            <td>{{ rc.cantidad }}</td>
                            <td>{{ rc.folio_documento }}</td>
                            <td>{{ rc.cuenta.cuenta }}</td>
                            <td>
                                <a href="{% url 'adm:registrocuenta_edit' rc.id %}" class="btn btn-warning btn-circle" role="button">
                                    <i class="far fa-edit"></i>
                                </a>
                                <form action="{% url 'adm:registrocuenta_del' rc.id %}" method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-circle" onclick="return confirm('¿Estás seguro de que deseas eliminar este registro?');">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock page_content %}

{% block js_page %}
<script>
    $(document).ready(function() {
        $('.table').DataTable({
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "<span class='fa fa-angle-double-left'></span>",
                    "sLast": "<span class='fa fa-angle-double-right'></span>",
                    "sNext": "<span class='fa fa-angle-right'></span>",
                    "sPrevious": "<span class='fa fa-angle-left'></span>"
                }
            }
        });
    });
</script>
{% endblock js_page %}
