{% extends "base/base.html" %}

{% block page_content %}

<div class="card shadow mb-4">

    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Reporte de Rentas
        </h6>
    </div>

    <div class="card-body">

        <h4>Total: ${{ total }}</h4>

        <hr>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                {% for c in por_cliente %}
                <tr>
                    <td>{{ c.cliente__nombre }}</td>
                    <td>${{ c.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>

{% endblock %}