{% extends 'base/base.html' %}

{% block page_content %}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Residentes</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones:</div>
                <a class="dropdown-item" href="{% url 'adm:residente_new' %}"><i class="far fa-calendar-plus"></i> Nuevo</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        {% if not residentes %}
            <div class="alert alert-info">No hay residentes registrados.</div>
        {% else %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Fecha Creación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for residente in residentes %}
                    <tr>
                        <td>{{ residente.id }}</td>
                        <td>{{ residente.nombre }}</td>
                        <td>{{ residente.fc|date:"d/m/Y H:i:s" }}</td>
                        <td>
                            <a href="{% url 'adm:residente_edit' residente.id %}" class="btn btn-warning btn-circle" role="button"><i class="far fa-edit"></i></a>
                            <form action="{% url 'adm:residente_del' residente.id %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-circle" role="button"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock page_content %}

{% block js_page %}
$(document).ready(function() { 
    $('#example').DataTable({ 
        "language": { 
            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json" 
        } 
    }); 
});

{% endblock js_page %}
